.ContactData {
  margin: 50px auto;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 5px #ccc;
  border: 1px solid #eee;
  padding: 20px;
  box-sizing: border-box;
}

.style {
  font-style: initial;
  font-family: monospace;
  font-weight: 900;
  color: rgb(83, 133, 241);
  text-decoration: underline;
  text-underline-position: below;
}

.style:hover {
  cursor: pointer;
  color: black;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}