.Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.comment {
  margin: auto;
  padding: 50px;
  width: 20%;
}
.Styling {
  margin-top: 10px;
  margin-left: 75px;
  padding: 20px;
  text-align: center;
}
.styles {
  text-align: center;
}
